@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan:wght@100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}
.navbar {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: sticky;
  top: 0px;
  z-index: 1;
  background-color: white;
}
.image {
  width: 120px;
  height: 40px;
}
#image-just {
  width: 100%;
  height: 100%;
}
.select-location {
  width: 200px;
  height: 40px;
}
#loc {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: rgb(240, 232, 232);
  border: 1px solid rgb(237, 233, 233);
}
.search {
  border: 1px solid rgb(237, 233, 233);
  width: 400px;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
}
#inp {
  width: 300px;
  height: 40px;
  border: none;
  outline: none;
  border-top: 1px solid rgb(237, 233, 233);
  border-bottom: 0.5px solid rgb(237, 233, 233);
}
.sr {
  background-color: #fd6111;
  padding: 8px;
  border-radius: 5px;
  color: white;
}
.language {
  width: 50px;
  height: 40px;
  border: 1px solid black;
  padding: 2px;
  border-radius: 5px;
  border: none;
}
#lang:hover {
  background-color: #bad4e8;
}
#lang {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: none;
  color: blue;
}
.advertise {
  width: 100px;
  height: 40px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border: none;
}
.advertise:hover {
  background-color: rgb(240, 232, 232);
  border-radius: 5px;
}
.listing {
  width: 120px;
  height: 40px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border: none;
}
.listing:hover {
  background-color: rgb(240, 232, 232);
  border-radius: 5px;
}
.bell {
  font-size: 25px;
}
.login {
  height: 30px;
  width: 100px;
}
#log {
  width: 100%;
  height: 100%;
  background-color: #0076d6;
  color: white;
  border: none;
  border-radius: 5px;
}

/* banner */
.banner {
  width: 100%;
  height: 110px;
  background: url("https://images.jdmagicbox.com/thane/u7/022pxx22.xx22.191125210013.l4u7/cbnr/5c95bf45eea0010093aeb7dadfa4c882.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.categories {
  height: 80px;
  width: 100%;
  padding: 10px;
}
.categories p {
  font-size: 11px;
}
.categories h2 {
  font-size: 25px;
  font-weight: normal;
}
.filter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 10px;
  position: sticky;
}
#sel-sort {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  background-color: #f7f7f7;
}
.top-rated {
  width: 110px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #f7f7f7;
  border: 0.5px solid black;
  gap: 5px;
  font-size: 14px;
}
.q-res {
  width: 170px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #f7f7f7;
  border: 0.5px solid black;
  gap: 5px;
  font-size: 14px;
}
.container {
  width: 100%;
  height: 500px;
}
.card {
  width: 75%;
  height: 250px;
  display: flex;
  background-color: white;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
}
.image1 {
  width: 20%;
  height: 90%;
  padding: 10px;
  margin: 10px;
}
#imgd {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.head {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin: 10px;
}
.head h6 {
  font-size: 18px;
  font-weight: 500;
}
.desc {
  width: 80%;
  height: 90%;
  padding: 10px;
  margin: 10px;
}
.up {
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 5px;
}
#star {
  background-color: #007a0f;
  padding: 3px;
  border-radius: 5px;
  color: white;
  text-align: center;
}
.text{
color: gray;
}
.tren{
    background-color: rgb(234, 227, 227);
    padding: 5px;
    border-radius: 5px;
    gap: 5px;
    padding: 5px;
}
.ratinsgs{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin: 10px;
}
.location{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin: 10px;
}
.specs{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin: 10px;
}
.text1{
    background-color: rgb(239, 234, 234);
    padding: 4px;
    border-radius: 5px;
    border-radius: 1px solid rgb(209, 203, 203);
}
.contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin: 10px;
}
.con{
    background-color: #007a0f;
    border-radius: 5px;
    height: 40px;
    width: 130px;
    color: white;
    padding: 10px;
    font-size: 14px;
    border: none;
    text-align: center;

}
.what{
    border-radius: 5px;
    height: 40px;
    width: 130px;
    color: black;
    padding: 10px;
    font-size: 16px;
    background-color: rgb(246, 238, 238);
    border: none;
    text-align: center;
}
.enq{
    border-radius: 5px;
    height: 40px;
    width: 130px;
    color: black;
    padding: 10px;
    font-size: 16px;
    background-color: #0276d4;
    border: none;
    text-align: center;
    color: white;
    border: none;
}
.response .res{
    text-align: right;
   font-size: 15px;
}
#mins{
    color: #007a0f;
}
.pip{
    font-size: 15px;
}
